# Build artifacts
__pycache__/

# Environment variables
.env

# Version control directories and files
.github/
.git/
.gitignore
.gitmodules
.vscode/

# Lint tools
.flake8

# Dependencies
.requirements.txt

# Informational files
*.log
*.md
