# Workflows
.github/

# Build artifacts
__pycache__/
build/
dist/

# Version control directories and files
.git/
.gitignore
.gitmodules
.vscode/

# Lint tools
.flake8

# Dependencies
.requirements.txt

# Informational files
*.log
*.md

# Operating system files
.DS_Store
Thumbs.db
